body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
  }
  
  .stopwatch-container {
    text-align: center;
  }
  
  .display {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .controls button {
    margin: 5px;
    font-size: 1em;
  }
  
  .lap-list {
    list-style-type: none;
    padding: 0;
  }
  